.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 800px) {
    .root {
        /* Optionally, you could add some styles here if you want to adjust the appearance for smaller screens */
    }
}
